/* GLOBAL */
body, td {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000; padding: 0; margin: 0}
a {font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none}
form, input {margin: 0; padding: 0}
h1 {font-size: 16px; color: #FFF; background-color: #34BAB6; margin: 0; padding: 6px 15px 10px 15px}
.clear {clear: both; width: 0px; height: 0px}
.hidden {display: none}
.show {display: block}

/* ADMIN */
body#adminBody {background-color: #EFEFEF; padding: 10px}
div#mainContainer {background-color: #FFF; border-bottom: 1px solid #666; float: left; min-width: 99%}
div.menuSection {padding: 6px 15px 11px 15px; background: url('/images/main/admin/menuBackground.png') repeat-x; border-top: 1px solid #CCC; margin-bottom: 10px}
div#workingSection {padding: 0 15px 15px 15px; float: left}
/* ie */
*:first-child+html div#menuSection {width: 100%}
* html div#menuSection {width: 100%}

/* LABELS */
.normalLabel {color: #000; font-size: 12px; font-weight: bold}
.errorLabel {color: #FFA200; font-size: 12px; font-weight: bold}

/* HREF STYLES */
a.button {float: left; height: 25px; display: block; padding: 0 7px 0 0; text-decoration: none; font: normal 12px Arial, Helvetica, sans-serif; background: transparent url('/images/main/admin/buttons/mainRight.png') right no-repeat}
a.button span {display: block; line-height: 25px; padding: 0 0 0 7px; background: transparent url('/images/main/admin/buttons/mainLeft.png') left no-repeat; color: #FFF}
a.redX {color: #FF0000; background: url('/images/main/admin/redX.gif') center no-repeat; width: 23px; cursor: pointer; padding: 0 6px}
a.remove {color: #FF0000; background: url('/images/main/admin/redX.gif') 0 -2px no-repeat; padding-left: 23px; text-decoration: underline; cursor: pointer}
a.greenPlus {color: #006600; background: url('/images/main/admin/greenPlus.gif') 0 -2px no-repeat; padding-left: 23px; text-decoration: underline; cursor: pointer}
a.help {color: #FFA200; background: url('/images/main/admin/helpIcon.png') no-repeat; padding: 2px 0 3px 23px; text-decoration: underline; cursor: help}
a.edit {color: #000; background: url('/images/main/admin/edit.png') 0 -3px no-repeat; padding-left: 23px; text-decoration: underline; cursor: pointer}
div#selectBlock {margin-bottom: 10px}
a.selectAll {color: #000; background: url('/images/main/admin/selectAll.png') 0 -3px no-repeat; padding-left: 23px; text-decoration: underline; cursor: pointer}
a.deselectAll {color: #000; background: url('/images/main/admin/deselectAll.png') 0 -3px no-repeat; padding-left: 23px; text-decoration: underline; cursor: pointer}
a.previewImage {color: #000; background: url('/images/main/admin/camera.gif') 0 -1px no-repeat; padding-left: 23px; text-decoration: underline}
a.viewContent {color: #000; background: url('/images/main/admin/view.png') 0 -3px no-repeat; padding-left: 23px; text-decoration: underline}
a.moreInfo {color: #000; background: url('/images/main/admin/details.png') 0 -3px no-repeat; padding-left: 23px; text-decoration: underline}
a.iconOnly {text-decoration: none; width: 20px; padding: 0; margin: 0; display: block}
/* ie */
*:first-child+html a.redX img {border: 0; position: relative; top: -1px}
* html a.redX img {border: 0; position: relative; top: -1px}

/* INPUT BUTTONS */
span.button {background: transparent url('/images/main/admin/buttons/mainRight.png') no-repeat right center; padding: 0 7px 0 0; display: block; float: left; margin-bottom: 3px}
span.button input {background: transparent url('/images/main/admin/buttons/mainLeft.png') no-repeat left center; height: 25px; line-height: 25px; padding: 0 0 2px 7px; white-space: nowrap; border: 0; cursor: pointer; color: #FFF}

/* ERROR */
div#errors {background: #EFEFEF url('/images/main/admin/bottomShadow.gif') bottom repeat-x; padding: 5px 15px 10px 15px; margin: 0 15px 15px 15px; position: relative}
div#errors div#errorContainer {background: url('/images/main/admin/errorIcon.png') center left no-repeat; position: relative; padding: 5px 15px}
div#errors ul#errorList {list-style: none; padding: 0; margin: 10px 15px 10px 40px; font-weight: bold; color: #FF0000}
div#errorMessage {float: left}
div#errorMessage div#messageContainer {padding: 0 15px}
div#errorMessage h1 {margin: 0 0 10px 0; padding: 4px 15px 10px 10px}

/* SUCCESS */
div#successes {background: #EFEFEF url('/images/main/admin/bottomShadow.gif') bottom repeat-x; padding: 5px 15px 10px 15px; margin: 0 15px 15px 15px; position: relative}
div#successes div#successContainer {background: url('/images/main/admin/successIcon.png') center left no-repeat; position: relative; padding: 5px 15px}
div#successes ul#successList {list-style: none; padding: 0; margin: 10px 15px 10px 40px; font-weight: bold; color: #00EE00}

/* GENERAL MESSAGE */
div#generalMessages {background: #EFEFEF url('/images/main/admin/bottomShadow.gif') bottom repeat-x; padding: 5px 15px 10px 15px; margin: 0 15px 15px 15px; position: relative}
div#generalMessages div#generalMessagesContainer {background: url('/images/main/admin/successIcon.png') center left no-repeat; position: relative; padding: 5px 15px}
div#generalMessages ul#generalMessagesList {list-style: none; padding: 0; margin: 10px 15px 10px 40px; font-weight: bold; color: #00EE00}

/* TABLES - offerEdit, systemConfiguration */
table.formTable {background-color: #FFF; border: 1px solid #000; padding: 20px}
table.formTable td.ftSectionLeft {vertical-align: top; padding-left: 20px; border-left: 1px solid #000}
table.formTable td.ftSectionRight {vertical-align: top; padding-right: 20px}
table.formTable .recordsTable {border: 0}
tr.titleRow td {color: #FFF; background-color: #589EB5; height: 24px; padding: 4px 5px 5px 5px; font-weight: bold; border-top: 1px solid #9A9890}
/* ie */
*:first-child+html table.formTable td.ftSectionLeft {padding: 20px}
*:first-child+html table.formTable td.ftSectionRight {padding: 20px}
* html table.formTable td.ftSectionLeft {padding: 20px}
* html table.formTable td.ftSectionRight {padding: 20px}

/* MAIM MENU */
ul.jd_menu {position: relative; margin: 0; padding: 0; list-style-type: none; z-index: 100}
ul.jd_menu a, ul.jd_menu a:active, ul.jd_menu a:link, ul.jd_menu a:visited {text-decoration: none; color: #000; font-size: 14px}
ul.jd_menu ul {display: none}
ul.jd_menu li {float: left; cursor: pointer; white-space: nowrap; padding: 3px 5px}
ul.jd_menu li.jd_menu_hover_toolbar {background-color: #8AC5D9}
ul.jd_menu li.menuSeparator {background-color: transparent; cursor: default}
ul.jd_menu a.jd_menu_hover_toolbar, ul.jd_menu a.jd_menu_hover_toolbar:visited {color: #FFF}
/* ie */
*:first-child+html ul.jd_menu ul {margin: 0 0 0 -16px}
* html ul.jd_menu ul {margin: 0 0 0 -16px}

/* SUB MENUS */
ul.jd_menu ul {background-color: #EFEFEF; position: absolute; display: none; list-style-type: none; margin: 0; padding: 0; border-left: 1px solid #CCC; border-right: 1px solid #CCC; border-bottom: 1px dotted #000; z-index: 100}
ul.jd_menu ul li {float: none; margin: 0; padding: 0; padding: 3px 5px; background-color: #EFEFEF; height: 15px; border-top: 1px dotted #000}
ul.jd_menu ul a, ul.jd_menu ul a:active, ul.jd_menu ul a:link, ul.jd_menu ul a:visited {text-decoration: none;	color: #000; font-size: 12px}
ul.jd_menu ul li.jd_menu_hover {background-color: #8AC5D9}
ul.jd_menu ul a.jd_menu_hover, ul.jd_menu ul a.jd_menu_hover:visited, ul.jd_menu ul a.jd_menu_hover:active {color: #FFF}

/* RECORDS DISPLAY */
table.recordsTable {background-color: #FFF; color: #000; font-size: 12px; font-family: arial, 'lucida console', sans-serif; padding: 0; margin: 0}
table.recordsTable .editButton {width: 28px}
tr.reportTitle td {color: #FFF; background-color: #589EB5; height: 24px; padding: 3px 5px 3px 5px; font-weight: bold; border-top: 1px solid #9A9890; font-size: 14px}
tr.recordsHeader td {background: url('/images/main/admin/greyGradient.png') repeat-x; height: 24px; padding: 3px 5px; border-top: 1px solid #9A9890}
tr#additionalSearchOptions div#searchOptions {background-color: #EFEFEF; padding: 3px 5px; border-bottom: 1px solid #666; border-top: 1px solid #666; padding: 10px 5px; margin-bottom: 10px}
tr.recordSearchHeader td {background-color: #EFEFEF; padding: 3px 5px; border-bottom: 1px solid #666}
tr.recordSearchHeader td table.searchSection td {border: 0; color: #000; font-size: 12px; padding: 0; white-space: nowrap}
tr.recordSearchHeader table.dateSelect {width: 133px}
tr.recordsRowAlpha td {background-color: #FFF; padding: 0 5px}
tr.recordsRowBeta td {background-color: #EFEFFF; padding: 0 5px}
tr.recordsAction td {background-color: #EFEFEF; border-top: 1px solid #666; border-bottom: 1px solid #666; padding: 0 5px 15px 5px}
table.recordsTable table td {padding: 0; border: 0; margin: 0}
table.recordsTable div.updateOptionWrapper {float: left; padding-right: 5px}
table.recordsNavigation {color: #000; font-size: 12px}
table.recordsNavigation th {background: url('/images/main/admin/greyGradient.png') repeat-x; height: 24px; padding: 3px 5px; border-top: 1px solid #9A9890; border-bottom: 1px solid #9A9890; font-weight: normal}

/* LOGIN */
div#loginWrapper {width: 100%; text-align: center}
div#loginContainer {border: 2px solid #EFEFEF; padding: 2px; width: 300px; margin: 0 auto}
div#loginSubcontainer {background-color: #EFEFEF; padding: 10px; text-align: center; color: #666666; font-weight: normal}

/* SITE REGISTRY */
div#siteRegistryContainer {border: 2px solid #EFEFEF; padding: 2px; width: 400px; margin: 0 auto}
div#siteRegistrySubcontainer {background-color: #EFEFEF; padding: 10px; text-align: center; color: #666666; font-weight: normal}

/* ADMIN EDIT PROPERTIES SECTION */
td#editMenuCell {vertical-align: top; padding: 15px; width: 200px}
ul#editMenu {list-style: none; margin: 0; padding: 0}
ul#editMenu li {padding: 3px 10px; border-right: 1px solid #000; border-bottom: 1px dotted #000; background-color: #EFEFEF}
ul#editMenu li.head {font-size: 1px; height: 1px}
ul#editMenu li.editMenuOption {cursor: pointer}
ul#editMenu li.end {border-bottom: 0; font-size: 1px; height: 1px}
ul#editMenu li.selected {border-right: 0; background-color: #FFF}
ul#editMenu li.editMenuOptionOver {background-color: #DFDFDF}
div#editActionContainer {margin-top: 15px}
td#editPropertyCell {padding: 15px; vertical-align: top}
/* ie */
*:first-child+html ul#editMenu li.head {margin-bottom: -3px}
*:first-child+html ul#editMenu li.end {margin-top: -4px}
* html ul#editMenu li.head {margin-bottom: -3px}
* html ul#editMenu li.end {margin-top: -4px}


/* OFFERS ADMIN */
ul#packageList {margin-top: 10px; padding-left: 10px; list-style-type: none}
ul#campaignList {margin-top: 10px; padding-left: 10px; list-style-type: none}
div#offersSection div#selectBlock {margin-bottom: 10px}

/* PRODUCTS ADMIN */
div#product_imagesContainer table  {margin-top: 10px}

/* PACKAGES ADMIN */
ul#productList {margin-top: 10px; padding-left: 10px; list-style-type: none}
div#package_imagesContainer table  {margin-top: 10px}

/* CONTENT IMAGES */
tbody#imageFields td {padding: 0 10px}
tbody#imageFields td.top {padding-top: 10px}
div#imageContainer img {border: 1px solid #CCC}

/* SHIPPING OPTIONS */
td#rulesCell {padding-top: 15px}
ul#rulesList {list-style: none; padding: 0; margin: 0}
ul#rulesList li {padding: 5px 0}